<div class="container mt-5">
	<h2 class="text-center">Game History</h2>
	<% if @games.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Game ID</th>
				<th scope="col">Date Started</th>
				<th scope="col">Number of Players</th>
				<th scope="col">Number of Sides</th>
				<th scope="col">Number of Dice</th>
			</tr>
		</thead>
		<tbody>
			<% @games.each do |game| %>
			<tr>
				<td><%= game.id %></td>
				<td><%= game.started_at.strftime("%Y-%m-%d %H:%M") %></td>
				<td><%= game.number_of_players %></td>
				<td><%= game.number_of_sides %></td>
				<td><%= game.number_of_dice %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% else %>
	<p class="text-center">No games played yet.</p>
	<% end %>

    <% if @games.any? %>
	<div class="text-center mt-4">
		<h4>Load a Saved Game</h4>
		<%= form_with url: load_game_path, method: :get, local: true do %>
		<div class="input-group mb-3 justify-content-center">
			<%= text_field_tag :game_id, nil, placeholder: 'Enter Game ID', class: 'form-control', required: true %>
			<div class="input-group-append">
				<%= submit_tag 'Load Game', class: 'btn btn-primary' %>
			</div>
		</div>
		<% end %>
	</div>
    <% end %>

	<% if flash[:alert] %>
	<div class="alert alert-danger text-center mb-3" role="alert">
		<%= flash[:alert] %>
	</div>
	<% end %>
	<div class="row mt-4 ml-1">
		<%= link_to 'Back to Account', account_path, class: 'btn btn-secondary me-2 mr-3' %>
		<%= button_to 'Exit', sign_out_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to sign out?' } %>
	</div>
</div>